
{% block login %}
<div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>

    <form action="" method="POST">
        {%csrf_token%}
        <h3>login</h3>
        <input type="email" class="box" placeholder="enter your email" name="email">
        <input type="password" class="box" placeholder="enter your password" name="password">
        <input type="submit" value="login now" class="btn">
        <input type="checkbox" id="remember">
        <label for="remember">remember me</label>
        <p>forget password? <a href="#">click here</a></p>
        <p>don't have and account? <a href="{% url 'register'%}">register now</a></p>
    </form>
    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}
</div>
{% endblock  %}